<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/static/home_sta/css/register.css">


</head>

<body>
    <form action="" method="POST" class="form-horizontal">
        <div class="top">
            <img src="../static/home_sta/images/logo1.jpeg">达内医院
            <div class="returnIndex"><a href="">返回首页</a>
            </div>
        </div>
        <div class="middle">
            <div class="page-header" style="pause: 0px;">
                <h1 class="register-h1">用户注册</h1>
            </div>
            <div class="info-input">
                <div class="usename">
                    手机号码：<input type="text">
                </div>
                <div class="password">
                    密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：
                    <input type="text">
                </div>
                <div class="againpwd">
                    确认密码：<input type="text">
                </div>
            </div>
        </div>
        <div class="bottom">
            <button value="注册"></button>
        </div>
    </form>
</body>

</html>